@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  color: rgb(30,37,64);
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(240 249 255);
}

/* navbar menu*/
nav {
  background: rgb(169,169,169);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.menu-btn {
  color: white;
  transform: scale(2);
}

.menu-list {
  display: none;
  flex-direction: column;
  padding: 40px 0;
  position: absolute;
  width: 100%;
  left:  0;
  top: 46px;
  text-align: center;
  background: rgb(105, 105, 105);
}

.menu-list li {
  list-style: none;
  margin: 8px 10px;
}

.menu-list li a {
  list-style: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.menu-list li a:hover {
  background: rgb(169,169,169);
  color: rgb(30,37,64);
  padding: 10px;
  border-radius: 100px;
  text-decoration: underline;
}
/* akhir navbar menu*/


/* profil */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: rgb(240 249 255);
  width: 100%;
  padding: 25vw 0;
}

.profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid rgb(169,169,169);
  background-image: url('Rmn.jpg');
  background-position: top;
  background-size: cover;
}

.profile-desc {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-desc h1 {
  display: none;
}

.contact-btn {
  display: block;
  padding: 10px;
  background: rgb(169,169,169);
  border-radius: 100px;
  font-weight: bold;
  text-decoration: none;
}

.contact-btn:hover {
  opacity: .5;
}
/* akhir profil */


/* about me */
.about {
  padding: 5vw 30px;
}
/* akhir about me */


/* game */
.game {
  margin: 10vw 0;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 330px;
  height: 330px;
  margin: 0 auto;
  border: 2px solid #000;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
  border: 1px solid #000;
}

.game h1 {
  margin-left: 30px;
}
/* akhir game */


/* gallery */
.gallery h1 {
  padding: 5vw 30px;
}

.gallery .image {
  display: grid;
  place-items: left;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.gallery .image img {
  width: 45vw;
}
/* akhir gallery */


/* contact */
.contact {
  text-align: center;
  padding: 10vw 30px;
  margin: 50px 0;
  background: rgb(105, 105, 105);
}

.contact .sosmed {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.contact h1{
  color: #fff;
}

.contact .icon {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: auto;
}

.contact .sosmed a span {
  color: #fff;
}

.contact .sosmed a svg {
  fill: #fff;
  transform: scale(1.2);
}
/* akhir contact */


footer {
  text-align: center;
}


/* buat responsif*/
@media(min-width: 600px) {
  
  /* navbar menu */
  .logo {
    font-size: 40px;
  }
  
  .menu-list {
    position: static;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    width: inherit;
    background: none;
  }
  
  .menu-list li a {
    font-size: 24px;
    color: rgb(30,37,64);
  }
  
  .menu-btn {
    display: none;
  }
  /* akhir navbar menu */
  
  /* profil */
  .profile {
    flex-direction: row;
    padding: 10vw 0;
    width: 85%;
    margin: auto;
  }
  
  .profile-top {
    order: 2;
  }
  
  .profile-top h1 {
    display: none;
  }
    
  .profile-desc h1 {
    display: block;
    margin: 0;
    font-size: 40px!important;
  }
  
  .profile-img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
  
  .profile-desc {
    order: 1;
    text-align: left;
    font-size: 20px;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 20px;
    width: 50%;
  }
  /* akhir profil */
  
  /* about me */
  .about {
    padding: 5vw 170px;
  }
  
  .about-desc {
    font-size: 20px;
  }
  /* akhir about me */
  
  /* gallery */
  .gallery {
    padding: 5vw 170px;
  }
  
  .gallery h1 {
    padding: 0;
  }
    
  .gallery .image {
    grid-template-columns: auto auto auto;
  }
  
  .gallery .image img {
    width: 20vw;
  }
  /* akhir allery */
  
  /* contact */
  .contact .sosmed {
    flex-direction: row;
    justify-content: center;
  }
  
  .contact .sosmed .icon {
    margin: 0 10px;
  }
  /* akhir contact */
  
  h1 {
    text-align: center;
    margin: 0;
  }
  
}